<table>
  <tr>
    <th>Customer Name</th>
    <th>Total Checking Accounts</th>
    <th>Total Saving Accounts</th>
    <th>Total Balance </th>
  </tr>
  <% @customers.each do |customer| %>
    <tr>
      <td><%=customer.name%></td>
      <td><%=customer.total_checking%></td>
      <td><%=customer.total_savings%></td>
      <td><%=customer.total_balance%></td>
    </tr>
  <% end %>
</table>